<div class="task">
  <div class="task__info">
    <img class="task__avatar" [src]="task?.employee?.avatar_url || 'assets/pictures/placeholder.png'" [alt]="task?.description">
    <span class="task__name">{{ task?.description }}</span>
  </div>

  <div class="task__actions">
    <button class="task__action task__action--pin" mat-mini-fab>
      <mat-icon fontIcon="location_on"></mat-icon>
    </button>

    <button class="task__action task__action--edit" mat-mini-fab>
      <mat-icon fontIcon="edit"></mat-icon>
    </button>

    <button class="task__action task__action--delete" mat-mini-fab (click)="delete()">
      <mat-icon fontIcon="delete"></mat-icon>
    </button>
  </div>
</div>
