<div class="route-page">
  <app-map></app-map>

  <div class="route-actions">
    <button class="route-action" mat-fab (click)="add()">
      <mat-icon>add</mat-icon>
    </button>

    <button class="route-action" mat-fab (click)="routing()">
      <mat-icon>route</mat-icon>
    </button>

    <button
      class="route-action"
      mat-fab
      (click)="summary()"
      [disabled]="!compiledOnce()"
    >
      <mat-icon>analytics</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="homeService.isLoading()" class="loading">
  <img src="/assets/route-transparent.gif" alt="para de ser cego podre" />
</div>

<mat-icon
  fontIcon="location_on"
  class="mouse"
  #mouse
  [ngClass]="{ 'mouse--on': isAdding() }"
>
</mat-icon>
