.route-page {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.avatar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: thin solid black;
  border-radius: 50%;
}

.route-actions {
  position: absolute;
  bottom: 8px;
  left: 50%;
  display: flex;
  align-items: center;
  gap: 8px;
  transform: translateX(-50%);
}

.route-action {
  transition: transform 0.2s;
  background-color: #003366;

  &:hover {
    transform: scale(1.04);
  }

  mat-icon {
    color: white;
  }
}

.mouse {
  position: fixed;
  transition: transform 0.2s;
  color: black;
  transform: translate(-50%, -90%);
  width: 42px;
  height: 42px;
  font-size: 42px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;

  &--on {
    opacity: 1;
    visibility: visible;
  }
}

.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.176);

  img {
    width: 200px;
    height: 200px;
  }
}
