.route-page {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  padding: 24px;
  display: grid;
  grid-template-columns: 300px 300px 1fr;
  gap: 24px;

  &__container {
    border: thin solid #d3ddf2;
    border-radius: 8px;
  }
}