<div class="employee">
  <div class="employee__info">
    <img class="employee__avatar" [src]="employee?.avatar_url" [alt]="employee?.name">
    <span class="employee__name">{{ employee?.name }}</span>
  </div>

  <div class="employee__actions">
    <button class="employee__action employee__action--pin" mat-mini-fab>
      <mat-icon fontIcon="location_on"></mat-icon>
    </button>

    <button class="employee__action employee__action--edit" mat-mini-fab>
      <mat-icon fontIcon="edit"></mat-icon>
    </button>

    <button class="employee__action employee__action--delete" mat-mini-fab (click)="delete()">
      <mat-icon fontIcon="delete"></mat-icon>
    </button>
  </div>
</div>
