.employee {
  margin-bottom: 8px;
  border: thin solid #003366;
  border-radius: 8px;

  &__header {
    padding: 8px;
    background-color: #003366;
    color: white;
    font-size: 18px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  &__body {
    padding: 8px;
  }
}